package main

import "github.com/juntaki/jnigo"

var jvm jni.JVM

func init() {
	jvm := jnigo.CreateJVM()
}

type {{.Name}} struct{}

func New{{.Name}}() {
     return 
}
{{range .Members}}
func (*{{$.Name}}) {{.Symbol}}(jobject ...JObject) (JObject, error) {
     signature := "{{.Signature}}"
}
{{end}}
